* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.services-best-offer-container {
  width: 100%;
  border: 1px solid #00898a;
  border-radius: 5px;
  box-shadow: 0px 14px 60px -20px rgba(108, 129, 171, 0.3);
  padding: 29px 25px 31px 26px;
  background: url("img/Vector.png") no-repeat 90% 50%;
}
.services-best-offer-title {
  line-height: 27px;
  color: #0d3a51;
  font-size: 24px;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 14px;
  word-wrap: break-word;
  margin-bottom: 22px;
}
.services-best-offer-button-container {
  display: none;
  justify-content: flex-end;
  width: 100%;
  background: url("img/i.icon.png") no-repeat 100% 56%;
}
.services-best-offer-btn {
  margin-right: 0px;
  margin-left: auto;
  color: rgba(13, 58, 81, 0.7);
  font-size: 16px;
  font-family: "Segoe UI";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 27px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  border: none;
  background: none;
  margin-right: 12px;
}
.services-best-offer-desc {
  color: #0d3a51;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 14px;
  flex-direction: column;
  gap: 20px;
  display: flex;
}
@media only screen and (max-width: 878px) {
  body {
    max-width: 80%;
  }
  .services-best-offer-container {
    height: auto;
    background: url("img/Group-50.png") no-repeat 100% 100%;
  }
  .services-best-offer-title {
    color: black;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    text-transform: none;
    margin-bottom: 10px;
  }
  .services-best-offer-desc {
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    word-wrap: break-word;
  }
  .services-best-offer-button-container {
    display: flex;
    margin-top: 5px;
  }
  .services-best-offer-container {
    padding: 15px 19px 19px 15px;
  }
}
